#PokemonPicture {
  margin-top: 15px;
  width: 200px;
  height: 200px;
}

.Evolution {
  width: 75px;
  height: 75px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.left-column {
  display: inline-grid;
  background-color: #EB5352;
  align-items: center;
  width: 40%;
  margin-left: 5%;
  padding: 2.5%;
  height: 47rem;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #A10001;
}

.right-column {
  background-color: #EB5352;
  width: 40%;
  margin-left: -2.5%;
  margin-right: 5%;
  margin-top: 50px;
  padding: 2.5%;
  height: 41rem;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #A10001;
  display: flex;
  flex-direction: column;
}

.middle-column {
  background-color: #A10001;
  width: 5%;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #A10001;
}

.PokedexField {
  display: inline-flex;
  justify-content: center;
}

#SearchPokemon {
  background-color: #FEF3EF;
  height: 25px;
  width: 240px;
  border: #FEF3EF;
  border-radius: 5px;
  margin-right: auto;
}

#PokemonSearchButton {
  height: 29px;
  width: 240px;
  background-color: #7BC87A;
  cursor: pointer;
  border: #7BC87A;
  border-radius: 5px;
  border-style: outset;
  color: #1F2025;
  font-weight: bold;
  font-family: "Pokemon GB", sans-serif;
}

.ScreenWrapper {
  display: inline-grid;
  background-color: #FEF3EF;
  padding: 0 30px 30px 30px;
  justify-content: center;
  text-align: center;
  border-radius: 35px;
}

.IDNumber {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  font-weight: bold;
  font-size: 20px;
  background-color: #88C9F1;
  font-family: "Pokemon GB", sans-serif;
  border-radius: 35px;
}

#IDNumber {
  font-family: "Pokemon GB", sans-serif;
}

#Name {
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Pokemon GB", sans-serif;
  margin-bottom: 45px;
}

.EvolutionRow > * {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: #88C9F1;
  font-family: "Pokemon GB", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 75px;
  outline-color: #88C9F1;
}

.EvolutionRow > *:hover {
  background-color: #5182AC;
}

.PokemonDescriptionScreen {
  display: flex;
  background-color: #1F2025;
  color: #FEF3EF;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  font-family: "Pokemon GB", sans-serif;
  text-align: center;
}

.BlueButtonsTitle, #AbilityTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  font-family: "Pokemon GB", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
}

.BlueButtonsComplete {
  display: table-cell;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.BlueButtons {
  background-color: #88C9F1;
  align-items: center;
  padding: 15px 35px 15px 35px;
  border-style: outset;
  border-color: #88C9F1;
  font-family: "Pokemon GB", sans-serif;
}

.Typing {
  margin-top: 30px;
  display: flex;
}

#TypingTitle > * {
  display: inline-block;
  width: 125px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px 0 50px;
}

.Ability {
  display: table-cell;
  align-items: center;
  text-align: center;
  background-color: #7BC87A;
  padding: 15px 35px 15px 35px;
  border-style: outset;
  border-color: #7BC87A;
  font-family: "Pokemon GB", sans-serif;
  width: 500px;
}

/*# sourceMappingURL=styles.css.map */
