$color-lightred: #EB5352;
$color-darkred: #A10001;
$color-black: #1F2025;
$color-white: #FEF3EF;
$color-lightblue: #88C9F1;
$color-darkblue: #5182AC;
$color-green: #7BC87A;

#PokemonPicture{
  margin-top: 15px;
  width: 200px;
  height: 200px;
}
.Evolution{
  width: 75px;
  height: 75px;
}

.row{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.left-column{
  display: inline-grid;
  background-color: $color-lightred;
  align-items: center;
  width: 40%;
  margin-left: 5%;
  padding: 2.5% ;
  height: 47rem;
  outline-style: solid;
  outline-width: 5px;
  outline-color: $color-darkred;
}
.right-column{
  background-color: $color-lightred;
  width: 40%;
  margin-left: -2.5%;
  margin-right: 5%;
  margin-top: 50px;
  padding: 2.5% ;
  height: 41rem;
  outline-style: solid;
  outline-width: 5px;
  outline-color: $color-darkred;
  display: flex;
  flex-direction: column;

}

.middle-column{
  background-color: $color-darkred;
  width: 5%;
  outline-style: solid;
  outline-width: 5px;
  outline-color: $color-darkred;
}
.PokedexField{
  display: inline-flex;
  justify-content: center;
}
#SearchPokemon {
  background-color: $color-white;
  height: 25px;
  width: 240px;
  border: $color-white;
  border-radius: 5px;
  margin-right: auto;
}
#PokemonSearchButton{
  height: 29px;
  width: 240px;
  background-color: $color-green;
  cursor: pointer;
  border: $color-green;
  border-radius: 5px;
  border-style: outset;
  color: $color-black;
  font-weight: bold;
  font-family: "Pokemon GB", sans-serif;
}
.ScreenWrapper{
  display: inline-grid;
  background-color: $color-white;
  padding: 0 30px 30px 30px;
  justify-content: center;
  text-align: center;
  border-radius: 35px;
}
.IDNumber{
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  font-weight: bold;
  font-size: 20px;
  background-color: $color-lightblue ;
  font-family: "Pokemon GB", sans-serif;
  border-radius: 35px;

}
#IDNumber{
  font-family: "Pokemon GB", sans-serif;
}
#Name{
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Pokemon GB", sans-serif;
  margin-bottom: 45px;
}
.EvolutionRow > *{
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: $color-lightblue ;
  font-family: "Pokemon GB", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 75px;
  outline-color: $color-lightblue;
}
.EvolutionRow >*:hover{
  background-color: $color-darkblue;
}
.PokemonDescriptionScreen{
  display: flex;
  background-color: $color-black;
  color: $color-white;
  padding: 25px;
  flex-direction: column;
  align-items:center;
  border-radius: 35px;
  font-family: "Pokemon GB", sans-serif;
  text-align: center;
}
.BlueButtonsTitle, #AbilityTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  font-family: "Pokemon GB", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;

}
.BlueButtonsComplete{
  display: table-cell;
  flex-direction: row;
  align-items: center;
  text-align: center;

}
.BlueButtons{
  background-color: $color-lightblue;
  align-items: center;
  padding: 15px 35px 15px 35px;
  border-style: outset;
  border-color: $color-lightblue;
  font-family: "Pokemon GB", sans-serif;
}
.Typing{
  margin-top: 30px;
  display: flex;

}
#TypingTitle >*{
  display: inline-block;
  width: 125px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px 0 50px;
}
.Ability{
  display: table-cell;
  align-items: center;
  text-align: center;
  background-color: $color-green;
  padding: 15px 35px 15px 35px;
  border-style: outset;
  border-color: $color-green;
  font-family: "Pokemon GB", sans-serif;
  width: 500px;
}